@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner */
.banner-bg-img {
    background-image: url(../public/Home/banner-bg.png);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Connect Wallet page css */
.left-card-img {
    background-image: url(../public/Monkey.png);
}

.card-inner-bg-css {
    background: rgba(37, 20, 68, 0.67);
    backdrop-filter: blur(2px);
}

.card-inner-bg-css2 {
    background: rgba(108, 60, 228, 0.324);
}

.right-card-top-bg {
    background: rgba(107, 60, 228, 0.10);
}

.warningTextBg {
    background: rgba(255, 69, 80, 0.05);
}

@media (max-width: 767px) {
    .maxWidthofBanner {
        padding: 0 110px;
    }
}

@media (max-width: 695px) {
    .maxWidthofBanner {
        padding: 0 90px;
    }
}

@media (max-width: 655px) {
    .maxWidthofBanner {
        padding: 0 60px;
    }
}

@media (max-width: 595px) {
    .maxWidthofBanner {
        padding: 0 30px;
    }
}

@media (max-width: 535px) {
    .maxWidthofBanner {
        padding: 0 0;
    }
}

@media (max-width: 475px) {
    .numInput {
        width: 80%;
    }
}